<!DOCTYPE html>
<html>
<head>
  <title>Luvs</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>

<div id="container">

  <div id="header">
	Luvs
	<div id="subtitle">
	  Luving since 2011
	</div>
  </div>

  <div id="buttonset">
	<%= link_to "/signup", :class => "awesome magenta" do %>
  	  <div id="icon"><img src="/images/signup.png"></div>
	  <div id="text">Sign up !</div>
	<% end %>
	<%= link_to "/login", :class => "awesome magenta" do %>
	  <div id="icon"><img src="/images/login.png"></div>
	  <div id="text">Log-in</div>
	<% end %>
  </div>

  <div id="content">
	<%= yield %>
  </div>

  <div id="footer">
	Copyright (C) 2011 Rafael Fernández López
  </div>

</div>

</body>
</html>
