<!DOCTYPE html>
<html>
<head>
  <title>Luvs</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>

<div id="container">

  <div id="header">
	<%= link_to "Luvs", root_url %>
	<div id="subtitle">
	  Luving since 2011
	</div>
  </div>

  <div id="buttonset">
	<% if user_signed_in? %>
  	  <%= link_to destroy_user_session_path, :class => "awesome magenta" do %>
  	    <div id="icon"><img src="/images/logout.png"></div>
	    <div id="text">Logout</div>
	  <% end %>	  
    <% else %>
  	  <%= link_to new_user_registration_path, :class => "awesome magenta" do %>
  	    <div id="icon"><img src="/images/signup.png"></div>
	    <div id="text">Sign up !</div>
	  <% end %>
	  <%= link_to new_user_session_path, :class => "awesome magenta" do %>
	    <div id="icon"><img src="/images/login.png"></div>
	    <div id="text">Login</div>
	  <% end %>
	<% end %>
  </div>

  <% if notice %>
	<div class="notice"><ul><li><%= notice %></li></ul></div>
  <% end %>
  <% if alert %>
	<div class="alert"><ul><li><%= alert %></li></ul></div>
  <% end %>

  <div id="content">
	<%= yield %>
  </div>

  <div id="footer">
	Copyright (C) 2011 Rafael Fernández López
  </div>

</div>

</body>
</html>
